<html>
<head>
<title>Residential Application</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Login.css">
<body>
    <div class="loginbox">
    <img src="/Images/ug-logo.png" class="ug-logo">
        <h1>Student Residential Application</h1>
        <form>
            <p>Student ID</p>
            <input type="text" id="ID" name="ID" placeholder="Enter ID" required>
            <p>Student Pin</p>
            <input type="password" id="PIN" name="PIN" placeholder="Enter Pin" required>
            <input type="submit" name="" value="Login">
        </form>
        
    </div>
</body>
</head>
</html>